.footer {
  background-color: #ffc09f;
  display: flex;
  font-size: 1.6rem;
  padding: 3rem 10.4rem;
  height: 15rem;

  &_figCaption {
    display: flex;
    flex-direction: column;
    width: 50%;

    img {
      height: 3rem;
      width: 11rem;
      margin-bottom: 0.5rem;
    }
    p {
      margin: 0;
      font-size: 1.2rem;
      font-weight: 500;
      width: 60%;
    }
  }

  &_nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-wrap: wrap;
    font-size: 1.6rem;
    a {
      margin-right: 1rem;
      text-decoration: none;
      color: #000;
    }
  }
}
